<h1>
  {{title}}
</h1>

<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
  <form-text
    required
    hexadecimal
    name="simpleValue"
    label="Value 1"
    placeholder="Enter a hexadecimal value"
    [(ngModel)]="simpleValue"
    (ngModelChange)='test("simple")'>
  </form-text>

  <coordinates-form
    required
    hexadecimal
    name="coordinatesModel"
    [(ngModel)]="coordinatesModel"
    (ngModelChange)='test("coordinates")'>
  </coordinates-form>

  <button type="Submit">Submit</button>
</form>